---
import Layout from "../layout/layout.astro";
import { Hero } from "../components/Hero";
import { ProjectList } from "../components/ProjectList";
---

<Layout title="_hello">
	<div class="aviso">
		🔨 This page is under construction
	</div>
    <div class="hero">
        <Hero client:load />
        <ProjectList client:idle />
    </div>
</Layout>
<style>
.layout > main > .aviso{
        position: absolute;
        top: 24px;
        left: 0;
        background-color: black;
        width: 100%;
        padding: 1rem 2rem;
    }
.hero{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 6rem;
        height: 100%;
    }
    /* .hero img{
    width: 300px;
    height: auto;
    border-radius: .3rem;
    filter: grayscale(100%);
} */
</style>
